{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Studentspot</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/studentspot.css' %}">
</head>

<body>
  <div class="page-header">
    <p><h1><span><img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/house-icon.png" width="45" height="45"></span><a href="{% url 'homepage' %}"><strong> Studentspot </strong></a></h1>
    {% if user.is_authenticated %}
    <h5 class="top-menu"><a href="{% url 'logout' %}">Log out</a></h5>
    {% else %}
    <h5 class="top-menu">You are not logged in</h5></p>
    {% endif %}
  </div>
  <div class="content container">
    <div class="row">
      <div class="col-md-8">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
