{% extends 'studentspot/base.html' %}

{% block content %}

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">Home</h1>
        <p class="lead">This webapp aims to help students living in studenthouses keep track of who will join for dinner, who cooks and who is out.</p>
        <p class="lead">
          <a href="{% url 'show_calendar' %}" class="btn btn-lg btn-secondary">Go to the calendar</a>
        </p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
