{% extends 'studentspot/base.html' %}

{% block content %}
<table style="width:100%">
<tr>
  <td>Date</td>
  {% for house in houses %}
  {% if house.inmate1 != 'empty' %}
    <td> {{house.inmate1}} </td>
  {% endif %}
  {% if house.inmate2 != 'empty' %}
    <td> {{house.inmate2}} </td>
  {% endif %}
  {% if house.inmate3 != 'empty' %}
    <td> {{house.inmate3}} </td>
  {% endif %}
  {% if house.inmate4 != 'empty' %}
    <td> {{house.inmate4}} </td>
  {% endif %}
  {% if house.inmate5 != 'empty' %}
    <td> {{house.inmate5}} </td>
  {% endif %}
  {% if house.inmate6 != 'empty' %}
    <td> {{house.inmate6}} </td>
  {% endif %}
  {% if house.inmate7 != 'empty' %}
    <td> {{house.inmate7}} </td>
  {% endif %}
  {% if house.inmate8 != 'empty' %}
    <td> {{house.inmate8}} </td>
  {% endif %}
  {% if house.inmate9 != 'empty' %}
    <td> {{house.inmate9}} </td>
  {% endif %}
  {% if house.inmate10 != 'empty' %}
    <td> {{house.inmate10}} </td>
  {% endif %}
  {% if house.inmate11 != 'empty' %}
    <td> {{house.inmate11}} </td>
  {% endif %}
  {% if house.inmate12 != 'empty' %}
    <td> {{house.inmate12}} </td>
  {% endif %}
  {% if house.inmate13 != 'empty' %}
    <td> {{house.inmate13}} </td>
  {% endif %}
  {% if house.inmate14 != 'empty' %}
    <td> {{house.inmate14}} </td>
  {% endif %}
  {% if house.inmate15 != 'empty' %}
    <td> {{house.inmate15}} </td>
  {% endif %}
  {% if house.inmate16 != 'empty' %}
    <td> {{house.inmate16}} </td>
  {% endif %}
  {% if house.inmate17 != 'empty' %}
    <td> {{house.inmate17}} </td>
  {% endif %}
  {% if house.inmate18 != 'empty' %}
    <td> {{house.inmate18}} </td>
  {% endif %}
  {% if house.inmate19 != 'empty' %}
    <td> {{house.inmate19}} </td>
  {% endif %}
  {% if house.inmate20 != 'empty' %}
    <td> {{house.inmate20}} </td>
  {% endif %}
  {% endfor %}
</tr>
{% for day in days %}
<tr>
  {% for house in houses %}
  <td>{{ day }}</td>
  {% if house.inmate1 != 'empty' %}
    <td> {{day.status1}} </td>
  {% endif %}
  {% if house.inmate2 != 'empty' %}
    <td> {{day.status2}} </td>
  {% endif %}
  {% if house.inmate3 != 'empty' %}
    <td> {{day.status3}} </td>
  {% endif %}
  {% if house.inmate4 != 'empty' %}
    <td> {{day.status4}} </td>
  {% endif %}
  {% if house.inmate5 != 'empty' %}
    <td> {{day.status5}} </td>
  {% endif %}
  {% if house.inmate6 != 'empty' %}
    <td> {{day.status6}} </td>
  {% endif %}
  {% if house.inmate7 != 'empty' %}
    <td> {{day.status7}} </td>
  {% endif %}
  {% if house.inmate8 != 'empty' %}
    <td> {{day.status8}} </td>
  {% endif %}
  {% if house.inmate9 != 'empty' %}
    <td> {{day.status9}} </td>
  {% endif %}
  {% if house.inmate10 != 'empty' %}
    <td> {{day.status10}} </td>
  {% endif %}
  {% if house.inmate11 != 'empty' %}
    <td> {{day.status11}} </td>
  {% endif %}
  {% if house.inmate12 != 'empty' %}
    <td> {{day.status12}} </td>
  {% endif %}
  {% if house.inmate13 != 'empty' %}
    <td> {{day.status13}} </td>
  {% endif %}
  {% if house.inmate14 != 'empty' %}
    <td> {{day.status14}} </td>
  {% endif %}
  {% if house.inmate15 != 'empty' %}
    <td> {{day.status15}} </td>
  {% endif %}
  {% if house.inmate16 != 'empty' %}
    <td> {{day.status16}} </td>
  {% endif %}
  {% if house.inmate17 != 'empty' %}
    <td> {{day.status17}} </td>
  {% endif %}
  {% if house.inmate18 != 'empty' %}
    <td> {{day.status18}} </td>
  {% endif %}
  {% if house.inmate19 != 'empty' %}
    <td> {{day.status19}} </td>
  {% endif %}
  {% if house.inmate20 != 'empty' %}
    <td> {{day.status20}} </td>
  {% endif %}
</tr>
{% endfor %}
  <br>
{% endfor %}
</table>
{% endblock %}
