.page-header {
    background-color: #757e8c;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #d35400;
    font-size: 40pt;
    text-decoration: none;
    text-align: center;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat';
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #d35400;
    float: right;
    font-size: 25pt;
    margin-right: 25px;
}
.cover {
  background-image: url("https://odis.homeaway.com/odis/listing/a9954777-1870-4dac-9009-255e5a51ea4a.c10.jpg") no-repeat;
  padding-top:100px;
  height:auto;
  width:auto;
  background-size:cover;
}
